
    <script src="https://kit.fontawesome.com/4ac1ebb706.js" crossorigin="anonymous"></script>

    <ActionBar title="RespeqTT" >
        <StackLayout orientation="horizontal">
            <Image src="res://icon" class="action-image" horizontalAlignment="left"></Image>
            <Label class="principal" text="RESPEQTT" horizontalAlignment="center" width= "250" min-width="100"></Label>
            <Label class="version" [text]="this.version" horizontalAlignment="right"></Label>
        </StackLayout>
    </ActionBar>
    
    <StackLayout alignment="vertical" backgroundColor="lightblue">
        <Label class="titre" text="COMPOSITION DES DOUBLES"></Label>
        <Label class = "sous-titre" [text] = "this.sousTitre"> </Label>
        <Button text="VALIDER" class="bouton" (tap)="onValiderTap($event)"></Button>
        <ListView [items]="listeJoueurs"   (itemTap)="onItemTap($event)" (loaded)="onListViewLoaded($event)">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout orientation="vertical" height="30" [class.odd]="odd" [class.even]="even">
                    <StackLayout orientation="horizontal">
                        <Label text="&#xf45d;" class="fas" [color]="(item.sel) ? '#0000FF' : '#000000'" stretch="none"></Label>
                        <Label [class.odd]="odd" [class.even]="even" [text]="' ' + item.nom + ' ' + item.prenom + ' ' + item.points"
                            [color]="(item.sel) ? '#0000FF' : '#000000'" >
                        </Label>
                    </StackLayout>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>

