<Page
    xmlns="http://schemas.nativescript.org/tns.xsd"
    xmlns:CheckBox="@nstudio/nativescript-checkbox" loaded="pageLoaded">

    <ActionBar title="RespeqTT" >
        <StackLayout orientation="horizontal">
            <Image src="res://icon" class="action-image" horizontalAlignment="left"></Image>
            <Label class="principal" text="RESPEQTT" horizontalAlignment="center" width= "250" min-width="100"></Label>
            <Label class="version" [text]="this.version" horizontalAlignment="right"></Label>
        </StackLayout>
    </ActionBar>
    
    <FlexboxLayout flexDirection="column">
        <Label class="titre" text="JUGE ARBITRE" textWrap="true" flexGrow="1" flexShrink="1"></Label>
        <TextField #tfnom hint="Nom JA"  flexGrow="1" flexShrink="1" secure="false" maxLength="20" [(ngModel)]='this.nomJA' ></TextField>
        <TextField #tfprenom hint="Prénom"  flexGrow="1" flexShrink="1" secure="false" maxLength="20" [(ngModel)]='this.prenomJA' ></TextField>
        <TextView #tvadresse hint="Adresse"  flexGrow="1" flexShrink="1" secure="false" maxLength="100" [(ngModel)]='this.adresseJA' ></TextView>
        <TextField #tflic hint="Licence" flexGrow="1" flexShrink="1" secure="false" maxLength="10" keyboardType="number" (focus)="onFocus($event)" [(ngModel)]='this.licenceJA' ></TextField>
        <Button class="bouton" text="RAPPORT" horizontalAlignment="stretch" (tap)="onTapRapport($event)" flexGrow="1" flexShrink="1" [isenabled]="this.valider"></Button>
        <FlexboxLayout flexDirection="row">
            <Button text="FERMER" min-width="100" width="1000" flexGrow="1" flexShrink="1" class="bouton" (tap)="onTapFermer($event)"></Button>
            <Button text="VALIDER" min-width="100" width="1000" flexGrow="1" flexShrink="1" class="bouton" (tap)="onTapValider($event)"></Button>
        </FlexboxLayout>
    </FlexboxLayout>
</Page>
