<ActionBar title="" class="action">
    <GridLayout columns="auto,*,auto" background-color="#6D81FF">
        <Image src="res://icon" class="action-image" row="0" col="0"></Image>
        <Label class="principal" text="RESPEQTT" row="0" col="1"></Label>
        <Label class="version" [text]="this.version" row="0" col="2"></Label>
    </GridLayout>
</ActionBar>



<StackLayout alignment="vertical" backgroundColor="lightblue">
    <Label class="titre" text="Saisir un nouveau club"></Label>
    <TextField #tfNumClub hint="Numéro" flexGrow="1" flexShrink="1" secure="false" maxLength="10" keyboardType="number" [(ngModel)]='this.numeroClub' ></TextField>
    <TextField #tfNom hint="Nom"  flexGrow="1" flexShrink="1" secure="false" maxLength="40" [(ngModel)]='this.nomClub' ></TextField>
    <Button text="AJOUTER"  class="bouton" flexGrow="0" flexShrink="0"  (tap)="onAjouter($event)"></Button>
    <Button text="SUPPRIMER"  class="bouton" flexGrow="0" flexShrink="0"  (tap)="onSupprimer($event)"></Button>
    <Button text="FERMER"  class="bouton" flexGrow="0" flexShrink="0" (tap)="onFermer($event)"></Button>
</StackLayout>
