<Page xmlns:cv="@nativescript-community/ui-canvas">

    <ActionBar title="RespeqTT">
        <StackLayout orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left">
            <Image src="res://icon" class="action-image" ></Image>
        </StackLayout>
    </ActionBar>

    <StackLayout  horizontalAlignment="center">
        <Label  [text] = "this.titre"></Label>
        <cv:CanvasView [width]="this.dimEcran" [height]="this.dimEcran" (draw)="draw($event)" (onDraw)="draw($event)"> </cv:CanvasView>
        <Button text="Fermer"  (tap)="goBack()"></Button>
        <Label  [text] = "this.trace"></Label>
    </StackLayout>

</Page>
