<Page>
    <script src="https://kit.fontawesome.com/4ac1ebb706.js" crossorigin="anonymous"></script>

    <ActionBar title="RespeqTT">
        <StackLayout orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left">
            <Image src="res://icon" class="action-image" ></Image>
        </StackLayout>
    </ActionBar>
    <FlexboxLayout flexDirection="column" backgroundColor="lightblue">
        <Label class="titre" text="PLACEMENT JOUEURS" flexGrow="0" flexShrink="0"></Label>
        <Label class = "sous-titre" [text] = "this.clubChoisi.nom" flexGrow="0" fleShrink="1"> </Label>
        <Label class = "sous-titre" text = "EQUIPE" flexGrow="0" flexShrink="0"> </Label>
        <ListView [items]="equipe"   (itemTap)="onJoueurTap($event)"  flexGrow="1" flexShrink="1" (loaded)="onEquipeLoaded($event)">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout orientation="vertical" height="30" [class.odd]="odd" [class.even]="even">
                    <Label [class.odd]="odd" [class.even]="even" [text]="item.place + '/ ' + item.nom + ' ' + item.prenom + ' ' + item.points"
                           [color]="(item.sel) ? '#0000FF' : '#000000'" >
                    </Label>
                </StackLayout>
            </ng-template>
        </ListView>
        <FlexboxLayout flexDirection="row" alignItems="stretch"  flexGrow="0" flexShrink="0" justifyContent="flex-start">
            <Button text="&#xf139;" class="fas" min-width= "100" width= "1000" flex-grow="1" backgroundColor="blue" (tap)="onUp($event)"></Button>
            <Button text="&#xf13a;" class="fas" min-width= "100" width= "1000" flex-grow="1" backgroundColor="blue" (tap)="onDown($event)"></Button>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="row" alignItems="stretch"  flexGrow="0" flexShrink="0" justifyContent="flex-start">
            <Button text="FERMER" min-width= "50" width= "1000" flex-grow="1" backgroundColor="blue"     (tap)="onAnnulerTap($event)"></Button>
            <Button text="QR CODE" class="-primary -rounded-lg" color="whitesmoke" min-width= "50" width= "1000" flex-grow="1" backgroundColor="darkblue" (tap)="onQRCodeTap($event)"></Button>
            <Button text="VALIDER" min-width= "50" width= "1000" flex-grow="1" backgroundColor="blue"     (tap)="onValiderTap($event)"></Button>
        </FlexboxLayout>
    </FlexboxLayout>

</Page>
