
    <script src="https://kit.fontawesome.com/4ac1ebb706.js" crossorigin="anonymous"></script>

    <StackLayout alignment="vertical" backgroundColor="lightblue">
        <Label class="titre" text="COMPOSITION DES DOUBLES"></Label>
        <Label class = "sous-titre" [text] = "this.sousTitre"> </Label>
        <Button text="SCANNER" backgroundColor="blue" (tap)="onScanTap($event)"></Button>
        <Button text="QRCODE" backgroundColor="darkblue" (tap)="onQRCodeTap($event)"></Button>
        <Button text="ANNULER" backgroundColor="blue" (tap)="onAnnulerTap($event)"></Button>
        <Button text="VALIDER"   backgroundColor="darkblue" (tap)="onValiderTap($event)"></Button>
        <ListView [items]="listeJoueurs"   (itemTap)="onItemTap($event)" (loaded)="onListViewLoaded($event)">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout orientation="vertical" height="30" [class.odd]="odd" [class.even]="even">
                    <StackLayout orientation="horizontal">
                        <Label text="&#xf45d;" class="fas" [color]="(item.sel) ? '#0000FF' : '#000000'" stretch="none"></Label>
                        <Label [class.odd]="odd" [class.even]="even" [text]="' ' + item.nom + ' ' + item.prenom + ' ' + item.points"
                            [color]="(item.sel) ? '#0000FF' : '#000000'" >
                        </Label>
                    </StackLayout>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>

