    <ActionBar title="" class="action">
        <GridLayout columns="auto,*,auto" background-color="#6D81FF">
            <Image src="res://icon" class="action-image" row="0" col="0"></Image>
            <Label class="principal" text="RESPEQTT" row="0" col="1"></Label>
            <Label class="version" [text]="this.version" row="0" col="2"></Label>
        </GridLayout>
    </ActionBar>  
    
    <FlexboxLayout flexDirection="column" justifyContent="space-between" height = "100%">
        <StackLayout alignment="vertical" flexGrow="0" flexShrink="0">
            <Label class="titre" text="COMPOSITION DES DOUBLES"></Label>
            <Label class = "sous-titre" [text] = "this.sousTitre"> </Label>
        </StackLayout>
        <ListView [items]="listeJoueurs"  rowheight = "50em" flexGrow="0" flexShrink="1" (itemTap)="onItemTap($event)" (loaded)="onListViewLoaded($event)">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout orientation="vertical" height="30" [class.odd]="odd" [class.even]="even">
                    <StackLayout orientation="horizontal">
                        <Label text="&#xf45d;" class="fas" [color]="(item.sel) ? '#0000FF' : '#000000'" stretch="none"></Label>
                        <Label [class.odd]="odd" [class.even]="even" [text]="' ' + item.nom + ' ' + item.prenom + ' ' + item.points"
                            [color]="(item.sel) ? '#0000FF' : '#000000'" >
                        </Label>
                    </StackLayout>
                </StackLayout>
            </ng-template>
        </ListView>
        <FlexboxLayout height="50em" flexDirection="row" justifyContent="space-between" flexGrow="0" flexShrink="0">
            <Button text="SCANNER" class="bouton" flexGrow="1" flexShrink="0" (tap)="onScanTap($event)"   [isenabled]="this.scan"></Button>
            <Button text="QRCODE"  class="bouton" flexGrow="1" flexShrink="0" (tap)="onQRCodeTap($event)" [isenabled]="this.scan"></Button>
        </FlexboxLayout>
        <FlexboxLayout height="50em" flexDirection="row" justifyContent="space-between" flexGrow="0" flexShrink="0">
            <Button text="VALIDER" class="bouton" flexGrow="0" flexShrink="0" (tap)="onValider($event)"></Button>
            <Button text="FERMER" class="bouton" flexGrow="0" flexShrink="0" (tap)="onFermer($event)"></Button>
        </FlexboxLayout>
    </FlexboxLayout>

