<Page
    xmlns="http://schemas.nativescript.org/tns.xsd"
    xmlns:CheckBox="@nstudio/nativescript-checkbox" loaded="pageLoaded">

    <FlexboxLayout flexDirection="column">
        <Label class="titre" text="VALIDATION DE LA RENCONTRE" textWrap="true" flexGrow="1" flexShrink="1"></Label>
        <Label class="sous-titre" [text]="this.sousTitre" textWrap="true" flexGrow="1" flexShrink="1"></Label>
        <FlexboxLayout flexDirection="row" justifyContent="flex-start" flexGrow="1" flexShrink="1">
            <Label [text]="this.nomClubA" textWrap="true" flexGrow="1" flexShrink="1"></Label>
            <Label [text]="this.scoreA" textAlign="left" width="50" flexGrow="0" flexShrink="0"></Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="row" justifyContent="flex-start" flexGrow="1" flexShrink="1">
            <Label [text]="this.nomClubX" textWrap="true" flexGrow="1" flexShrink="1"></Label>
            <Label [text]="this.scoreX" textAlign="left" width="50" flexGrow="0" flexShrink="0"></Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="row" justifyContent="flex-start" flexGrow="1" flexShrink="1">
            <Button [text]="this.btnRecA" flexGrow="1" flexShrink="1" width= "1000" min-width="100" backgroundColor="blue" (tap)="onReclamA($event)"></Button>
            <Button [text]="this.btnRecX" flexGrow="1" flexShrink="1" width= "1000" min-width="100" backgroundColor="blue" (tap)="onReclamX($event)"></Button>
        </FlexboxLayout>
        <Button text="Juge Arbitre" horizontalAlignment="stretch" (tap)="onJA($event)" flexGrow="1" flexShrink="1"></Button>
        <Button text="Valider la rencontre" horizontalAlignment="stretch" (tap)="onTapValidate($event)" flexGrow="1" flexShrink="1"></Button>
        <Button text="Fermer" horizontalAlignment="stretch" (tap)="onTapClose($event)" flexGrow="1" flexShrink="1"></Button>
    </FlexboxLayout>
</Page>
