   <ActionBar title="" class="action">
        <GridLayout columns="auto,*,auto" background-color="#6D81FF">
            <Image src="res://icon" class="action-image" row="0" col="0"></Image>
            <Label class="principal" text="RESPEQTT" row="0" col="1"></Label>
            <Label class="version" [text]="this.version" row="0" col="2"></Label>
        </GridLayout>
    </ActionBar>
    
    <FlexboxLayout flexDirection="column">
        <Label class="titre" [text]="this.titre" textWrap="true" flexGrow="0" flexShrink="0" ></Label>
        <FlexboxLayout flexDirection="row" justifyContent="flex-start" flexGrow="0" flexShrink="0">
            <Label class="sous-titre" text="Liste des parties" flexGrow="1" flexShrink="1" ></Label>
            <Label class="score" [text]="this.score" flexGrow="0" flexShrink="0" ></Label>
        </FlexboxLayout>
        <ListView [items]="listeLignes" flexGrow="1" flexShrink="1" rowheight = "30em" (itemTap)="onItemTap($event)" (loaded)="onListViewLoaded($event)">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout orientation="vertical" [class.odd]="odd" [class.even]="even">
                    <FlexboxLayout flexDirection="row" justifyContent="flex-start">
                        <Label horizontalAlignment="left" flexGrow="1" flexShrink="1" [class.odd]="odd" [class.even]="even" [text]="item.desc"
                            [color]="(item.sel) ? '#0000FF' : '#000000'" textWrap="true">
                        </Label>
                        <Label horizontalAlignment="right" flexGrow="0" flexShrink="0" [class.odd]="odd" [class.even]="even" [text]="item.scoreAX"
                            [color]="(item.sel) ? '#0000FF' : '#000000'">
                        </Label>
                    </FlexboxLayout>
                </StackLayout>
            </ng-template>
        </ListView>
        <Button text="FERMER" class="bouton" (tap)="onFermer($event)" flexGrow="0" flexShrink="0" ></Button>
    </FlexboxLayout>
