<ActionBar title="RespeqTT" >
    <StackLayout orientation="horizontal">
        <Image src="res://icon" class="action-image" horizontalAlignment="left"></Image>
        <Label class="principal" text="RESPEQTT" horizontalAlignment="center" width= "250" min-width="100"></Label>
        <Label class="version" [text]="this.version" horizontalAlignment="right"></Label>
    </StackLayout>
</ActionBar>

<FlexboxLayout flexDirection="column" backgroundColor="lightblue">
    <Label class="titre" text="CHARGER JOUEURS" flexGrow="0" flexShrink="0"></Label>
    <Button text="Choisir un club" flexGrow="0" flexShrink="0" class="bouton" (tap)="onClub($event)"></Button>
    <Label class = "club" [text] = "this.descClub" class = "centree" flexGrow="0" flexShrink="0" text-align="center"> </Label>
    <Button text="Charger les joueurs" flexGrow="0" flexShrink="0" class="bouton" [isenabled]="this.clubChoisi" (tap)="onLoadTap($event)"></Button>
    <Button text="Ajouter des joueurs" flexGrow="0" flexShrink="0" class="bouton" [isenabled]="this.clubChoisi" (tap)="onAjouter($event)"></Button>
    <ListView [items]="listeJoueurs" flexGrow="1" flexShrink="1" (itemTap)="onItemTap($event)" (loaded)="onListViewLoaded($event)">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <StackLayout orientation="vertical" height="30" [class.odd]="odd" [class.even]="even">
                <StackLayout orientation="horizontal">
                    <Label text="&#xf45d;" class="fas" [color]="(item.sel) ? '#0000FF' : '#000000'" stretch="none"></Label>
                    <Label [class.odd]="odd" [class.even]="even"  [text]="item.nom + ' ' + item.prenom + ' ' + item.points">
                           [color]="(item.sel) ? '#0000FF' : '#000000'" >
                    </Label>
                </StackLayout>
            </StackLayout>
    </ng-template>
    </ListView>
    <Label text="" flexGrow="10" flexShrink="10"></Label>
    <Button text="Supprimer les joueurs sélectionnés" flexGrow="0" flexShrink="0" class="bouton" [isenabled]="this.joueurSel" (tap)="onDelTap($event)"></Button>
    <Button text="FERMER" class="bouton" flexGrow="0" flexShrink="0" (tap)="onFermer($event)"></Button>
</FlexboxLayout>
