<Page
    xmlns="http://schemas.nativescript.org/tns.xsd"
    xmlns:CheckBox="@nstudio/nativescript-checkbox" loaded="pageLoaded">

<!--
The GridLayout arranges its child elements in a table structure of rows and columns.
A cell can contain multiple child elements, they can span over multiple rows and columns,
and even overlap each other. The GridLayout has one column and one row by default.
You can learn more about NativeScript layouts at https://docs.nativescript.org/ui/layout-containers.

These components make use of the NativeScript core theme, which styles them with element selectors.
The theme also provides a set of helper class names such as p-20, h1, h2, and text-center to enhance styling.
You can learn more about the NativeScript core theme at https://github.com/nativescript/theme
-->


    <GridLayout columns="auto, auto" rows="auto, auto, auto, auto" backgroundColor="lightblue">
        <Button text="Choisir une rencontre" row="0" col="0" colspan="2" backgroundColor="blue" (tap)="onTap($event)"></Button>
        <Label text="table des rencontres" row="1" col="0" colspan="2" backgroundColor="lightgray"></Label>
        <CheckBox text="Reçoit coté A"   row="2" col="0" colspan="2" backgroundColor="lightgray" id="CBRecoitA" checked="{{ recoitA }}" (tap)="onCheckBoxTap()"></CheckBox>
        <Button text="Composer équipe A" row="3" col="0" backgroundColor="blue" (tap)="onTap($event)"></Button>
        <Button text="Composer équipe X" row="3" col="1" backgroundColor="darkblue" (tap)="onTap($event)"></Button>
        <Button text="Charger équipe A"  row="4" col="0" backgroundColor="blue" (tap)="onTap($event)"></Button>
        <Button text="Charger équipe X"  row="4" col="1" backgroundColor="darkblue" (tap)="onTap($event)"></Button>
        <Button text="Valider la feuille de match" row="5" col="0" colspan="2" backgroundColor="darkblue" (tap)="onTap($event)"></Button>
    </GridLayout>

</Page>
