<Page xmlns="http://schemas.nativescript.org/tns.xsd" xmlns:Barcode="nativescript-barcodescanner">
    <ActionBar title="" class="action">
        <GridLayout columns="auto,*,auto" background-color="#6D81FF">
            <Image src="res://icon" class="action-image" row="0" col="0"></Image>
            <Label class="principal" text="RESPEQTT" row="0" col="1"></Label>
            <Label class="version" [text]="this.version" row="0" col="2"></Label>
        </GridLayout>
    </ActionBar>    
    
    <FlexboxLayout flexDirection="column" justifyContent="flex-start">
        <Label class="titre" [text]="this.titre" flexGrow="0" ></Label>
        <Label class = "sous-titre" [text] = "this.sousTitre" flexGrow="0" > </Label>
        <Button text="SCAN QRCODE" class="bouton" (tap)="scanCode($event)" flexGrow="1" ></Button>
        <Button text="FERMER" class="bouton" (tap)="onFermer($event)" flexGrow="1" ></Button>
    </FlexboxLayout>

    </Page>
