<Page xmlns="http://schemas.nativescript.org/tns.xsd" xmlns:Barcode="nativescript-barcodescanner">
    <ActionBar title="RespeqTT">
        <StackLayout orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left">
            <Image src="res://icon" class="action-image" ></Image>
        </StackLayout>
    </ActionBar>

    <FlexboxLayout flexDirection="column" justifyContent="flex-start">
        <Label class="titre" [text]="this.titre" flexGrow="0" ></Label>
        <Label class = "sous-titre" [text] = "this.sousTitre" flexGrow="0" > </Label>
        <Button text="SCAN QRCODE" (tap)="scanCode($event)" flexGrow="1" ></Button>
        <Button text="FERMER" (tap)="onFermer($event)" flexGrow="1" ></Button>
    </FlexboxLayout>

    </Page>
