<Page
    xmlns="http://schemas.nativescript.org/tns.xsd"
    xmlns:CheckBox="@nstudio/nativescript-checkbox" loaded="pageLoaded">

<!--
The GridLayout arranges its child elements in a table structure of rows and columns.
A cell can contain multiple child elements, they can span over multiple rows and columns,
and even overlap each other. The GridLayout has one column and one row by default.
You can learn more about NativeScript layouts at https://docs.nativescript.org/ui/layout-containers.

These components make use of the NativeScript core theme, which styles them with element selectors.
The theme also provides a set of helper class names such as p-20, h1, h2, and text-center to enhance styling.
You can learn more about the NativeScript core theme at https://github.com/nativescript/theme
-->

<!--        <CheckBox text="Reçoit coté A"   row="3" col="0" colspan="2" backgroundColor="lightgray" id="CBRecoitA" checked="{{ recoitA }}" (tap)="onCheckBoxTap()"></CheckBox>
-->



    <StackLayout orientation="vertical">
        <Label class="titre" text="RENCONTRE EN COURS"></Label>
        <Label class="sous-titre" [text]="this.titreRencontre"></Label>
        <FlexboxLayout flexDirection="row" justifyContent="space-between">
            <Label class = "switch-label" text="Reçoit coté A" flexGrow="1"></Label>
            <Switch checked="false" (checkedChange)="onCheckedChange($event)"  flexGrow="0" [isenabled]="this.modif"></Switch>
            <Label class = "switch-label" text="Reçoit coté X"  flexGrow="1"></Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="row" justifyContent="space-between">
            <Button text="Composer équipe A"       flexGrow="1" backgroundColor="blue" [nsRouterLink]="['../compo/A']" [isenabled]="this.modif"></Button>
            <Button text="Composer équipe X"       flexGrow="1" backgroundColor="darkblue" [nsRouterLink]="['../compo/X']" [isenabled]="this.modif"></Button>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="row" justifyContent="space-between">
            <Button text="Charger équipe A"        flexGrow="1" backgroundColor="blue" (tap)="onTap($event)" [isenabled]="this.modif"></Button>
            <Button text="Charger équipe X"        flexGrow="1" backgroundColor="darkblue" (tap)="onTap($event)" [isenabled]="this.modif"></Button>
        </FlexboxLayout>
        <Button text="Valider la feuille de match"      backgroundColor="darkblue" (tap)="onValiderFeuille($event)" [isenabled]="this.modif"></Button>
        <Button text="FERMER"                           backgroundColor="darkblue" [nsRouterLink]="['../actions']"></Button>
    </StackLayout>

</Page>
