<Page
    xmlns="http://schemas.nativescript.org/tns.xsd"
    xmlns:CheckBox="@nstudio/nativescript-checkbox" loaded="pageLoaded">

    <ActionBar title="RespeqTT" >
        <StackLayout orientation="horizontal">
            <Image src="res://icon" class="action-image" horizontalAlignment="left"></Image>
            <Label class="principal" text="RESPEQTT" horizontalAlignment="center" width= "250" min-width="100"></Label>
            <Label class="version" [text]="this.version" horizontalAlignment="right"></Label>
        </StackLayout>
    </ActionBar>
    
    <FlexboxLayout flexDirection="column" backgroundColor="lightblue">
        <Label class="titre" [text]="this.titre"></Label>
        <Label class="sous-titre" [text]="this.sousTitre"></Label>
        <ListView class ="liste" [items]="listeRencontres"        (itemTap)="onItemTap($event)" (loaded)="onListViewLoaded($event)">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout orientation="vertical" height="30" [class.odd]="odd" [class.even]="even">
                    <Label [class.odd]="odd" [class.even]="even" [text]="item.division + ' ' + item.journee + ' ' + item.date">
                           [color]="(item.sel) ? '#0000FF' : '#000000'"
                    </Label>
                </StackLayout>
            </ng-template>
        </ListView>
        <Button text="FERMER"  class="bouton" flexGrow="0" flexShrink="0" (tap)="onFermer($event)"></Button>
    </FlexboxLayout>
</Page>
