<!--
The ActionBar is the NativeScript common abstraction over the Android ActionBar and iOS NavigationBar.
http://docs.nativescript.org/ui/action-bar


      ios:horizontalAlignment="center"
      android:horizontalAlignment="left"
-->
<ActionBar title="RespeqTT">
    <StackLayout orientation="horizontal"
    ios:horizontalAlignment="center"
    android:horizontalAlignment="left">
        <Image src="res://icon" class="action-image" ></Image>
    </StackLayout>
</ActionBar>

<FlexboxLayout flexDirection="column" justifyContent="flex-start">
    <Button text="Télécharger les rencontres"       flexGrow="1" [nsRouterLink]="['../rencontre']"></Button>
    <Button text="Télécharger les joueurs"          flexGrow="1" [nsRouterLink]="['../joueurs']"></Button>
    <Button text="Composer les équipes"             flexGrow="1" (tap)="onPreparer($event)" [isenabled]="this.preparer"></Button>
    <Button text="Les parties"                      flexGrow="1" (tap)="onLancement($event)" [isenabled]="this.lancer"></Button>
    <Button text="Valider le score de la rencontre" flexGrow="1" (tap)="onValiderScore($event)" [isenabled]="this.valider"></Button>
    <Button text="Feuille de match"                 flexGrow="1" (tap)="onFeuille($event)" ></Button>
    <Button text="Envoyer à SPID"                   flexGrow="1" (tap)="onEnvoyerASPID($event)" [isenabled]="this.spid"></Button>
    <Button text="Abandonner la rencontre en cours" flexGrow="1" (tap)="onAbandonner($event)" [isenabled]="this.abandonner"></Button>
</FlexboxLayout>
